.ced{
    margin-top: 14px;
    width: 220px;
    margin-left: 50%;
   
}

.details{
    font-size: 20px;
    margin-left: 184px;
    margin-top: 30px;
    text-align: center;

    

}

.pers{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.secs{margin-top: 5px;
      font-size: 18px;}

.p{
    
    margin-top: 0px;
    margin-left: 180px;
    padding-top: 35px;
    margin-bottom: 0px;
}

.need{
    margin-top: 0px;
    padding-top: 35px;

}


.us{
    margin-left: 180px;

}

.info{
    margin-top: 460px;

}

.der{
    margin-top: 50px;

}


img{
    width: 350px;
    height: auto;
    display: block;
    margin-left: 180px;
    margin-bottom: 8px;
    transition: opacity 0.5s,
                box-shadow 0.4s;
}

img:hover{
    opacity: 0.8;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7) ;


}

.para{
   margin-left: 180px;
    font-size: 20px;
margin-top: 0px;
margin-bottom: 10px;
font-weight: bold;
width: 350px;

}


.gal{
 
    display: inline-block;
    width: 400px;
    padding-left: 0px;
    vertical-align: top;
   

}